@model IEnumerable<ProjetoBackend.Models.Cliente>
@{
    ViewData["Title"] = "Clientes";
}


<div class="search-container mt-5 pt-5">
    <h1>CLIENTES</h1>
    <form asp-action="Search" method="get" class="search-form">
        <input type="text" name="nome" placeholder="Buscar clientes..." class="search-input" />
        <button type="submit" class="search-button">
            <ion-icon name="search-outline"></ion-icon>
        </button>
    </form>
    <a asp-action="Create" class="create-button">
        <ion-icon name="add-outline"></ion-icon>
    </a>
</div>

</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CnpjCpf)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Celular)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataNascimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataCadastro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CadastroAtivo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CnpjCpf)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Celular)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataNascimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataCadastro)
                    </td>
                    <td>
                        @{
                            if (item.CadastroAtivo == true)
                            {
                                <span>Sim</span>
                            }
                            else
                            {
                                <span>Não</span>
                            }
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ClienteId" class="btn align-items-center"><ion-icon name="create-outline"></ion-icon></a>
                        <a asp-action="Delete" asp-route-id="@item.ClienteId" class="btn align-items-center ms-2"><ion-icon name="trash-outline"></ion-icon></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>